<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Webhooks</title>
</head>
<body>
	<h1 class="text-4xl font-bold dark:text-black bg-green-600 border-green-600 border-b p-4 m-4 rounded grid place-items-center">Webhooks</h1>
    <table style="width:100%">
       <tr class="bg-green-600 border-green-600 border-b p-4 m-4 rounded">
           <th>Id</th>
           <th>Date</th>
           <th>Subject</th>
           <th>From Email</th>
           <th>From Name</th>
       </tr>
                {% for webhook in webhooks: %}
                <tr class="bg-white-600 border-green-600 border-b p-4 m-4 rounded">
                  <td><p class="text-sm font-semibold">{{ webhook._id }}</p></td>
                  <td><p class="text-sm font-semibold">{{ webhook.date }}</p></td>
                  <td><p class="text-sm font-semibold">{{ webhook.subject }}</p></td>
                  <td><p class="text-sm font-semibold">{{ webhook.from_email }}</p></td>
                  <td><p class="text-sm font-semibold">{{ webhook.from_name }}</p></td>
                </tr>
                {% endfor %}
   </table>
</body>
</html>